*{
  border: 0;
  padding: 0;
  margin: 0;
  list-style: none;
}

body{
  background: url('./media-files/space.jpg')center center no-repeat fixed;
  background-size: cover;

}

#main-container{
  border: 2px solid yellow;
  max-width: 350px;
  padding: 20px;
  margin: 100px auto;
  /* color: white; */
}


input{
  min-width: 100%;
  display: block;
  border: 10px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
  font-size: 25px;

}

.slant-left{
  background: #ccc;
  height: 40px;
  box-sizing: border-box;
  padding: 10px;
  max-width: 70%;
  box-shadow: 1px 1px 4px 2px rgba(50, 50, 50, .2);
}

.hl{
  background: yellow;
}

.slant-right{
  background: #ccc;
  height: 40px;
  transform: skewX(-10deg);
  box-sizing: border-box;
  padding: 10px;
  max-width: 70%;
  margin: auto;
  box-shadow: 1px 1px 4px 2px rgba(50, 50, 50, .2);
}

#results{

  line-height: 40px;
  display: block;
}
